{% extends base_html %}

{% block reklamagoogle %}
<!-- nic -->
{% endblock %}

{% block podfb %}
<div style="padding-top: 2em;">
<script type="text/javascript" id="AdTaily_Widget" src="http://static.adtaily.pl/widget.js#IC6Milp6RJjdqbF"></script>
<noscript><a href="http://www.adtaily.pl">Reklama w internecie</a></noscript>
</div>
{% endblock %}

{% block content %}
<h3>Dzięki!</h3>
<p>Twoja wiadomość została wysłana. </P>

<a href="/">Powrót do strony głównej</a>

{% endblock %}