{% extends "base.html" %}

{% block reklamagoogle %}
<!-- nic -->
{% endblock %}

{% block content %}
	<p>
	        Kupić, czy sprzedać akcje jest łatwo. Dużo trudniej jest zarabiać regularnie na giełdzie. 
	        Właściwie, to trzeba zacząć od tego, żeby nie tracić, a raczej jeśli już tracić, to niewiele, a zyskiwać... więcej niż się traci. 
	        Póki rządzi nami statystyka jest dobrze, gorzej dzieje się, gdy w naszych działaniach giełdowych do głosu dochodzą emocje. Jedyny sposób, to przyjąć na stałe jeden, dobrze sprawdzony (nie tylko teoretycznie, ale też na własnej skórze) plan działania i trzymać się go bez względu na wszystko.
	        Przez plan działania rozumiemy ustystematyzowane odpowiedzi na pytania: kiedy i jakie walory kupić, za jaką część kapitału, no i kiedy sprzedać. 
	</p>
	<p>           
	        Benjamin Graham opisał w swojej książce <a href="http://www.makler.opole.pl/?p=productsMore&amp;iProduct=69&amp;sName=inteligentny-inwestor-graham-benjamin">„Inteligentny Inwestor”</a> 
	        kompletny system dla defensywnych i aktywnych inwestorów (ale nie dla spekulantów, tj. graczy krótkoterminowych), oparty o kluczową koncepcję marginesu bezpieczeństwa.
	        Dzięki narzędziom dostępnym w serwisie akcjegrahama.pl możesz szybko i łatwo wyszukać notowane na warszawskiej Giełdzie Papierów Wartościowych opisane przez Grahama:
	        <ul>
	        <li><a href="/ncav">akcje o kapitalizacji poniżej wartości aktywów obrotowych netto ("<em>C/WK Grahama</em>")</a></li>
	        <li><a href="/przedsiebiorczy-inwestor">akcje drugorzędne dla inwestora przedsiębiorczego ("<em>Enterprising Investor</em>")</a></li>
	        <li><a href="/najprostsza-metoda-inwestowania">akcje zgodne z ostatnią i najprostszą metodą inwestowania, jaką wynalazł Graham</a></li>
	        </ul> 	
</p>
<p>
Dla bardziej dociekliwych użytkowników przeznaczona jest <a href="/akcje-gpw">ogólna wyszukiwarka akcji</a>, gdzie prezentowana jest pełna lista spółek (także te o słabych parametrach) i szerszy zakres wartości dla kryteriów Grahama.
</p>
<p>
	Zapraszam również do śledzenia <a href="http://blog.akcjegrahama.pl/">bloga</a> i zapoznania się z dotychczasowymi wpisami na temat podejścia Grahama do następujących kwestii:
	<ul>	
	<li><a href="http://blog.akcjegrahama.pl/2012/02/czy-w-oparciu-o-ksiazke-grahama.html">Jak podzielić posiadane środki między akcje, lokaty i obligacje?</a></li>
	<li><a href="http://blog.akcjegrahama.pl/2012/02/czy-w-oparciu-o-ksiazke-grahama.html">Jak reagować na spadki lub wzrosty na giełdzie?</a></li>
	<li><a href="http://blog.akcjegrahama.pl/2012/02/czy-w-oparciu-o-ksiazke-grahama.html">Kiedy kupić akcje, a kiedy sprzedawać?</a></li>
	<li><a href="http://blog.akcjegrahama.pl/2012/03/czy-w-oparciu-o-ksiazke-grahama.html">Jakie akcje kupić stosując metody Grahama?</a></li>
	<li><a href="http://blog.akcjegrahama.pl/2012/05/czy-w-oparciu-o-ksiazke-grahama.html">W jakiej sytuacji niepopularne akcje dają zarobić?</a></li>
	<li><a href="http://blog.akcjegrahama.pl/2012/10/ile-spoek-najlepiej-miec-w-portfelu.html">Najlepiej mieć w portfelu 30 spółek. Czemu tak dużo?</a></li>
	<li><a href="http://blog.akcjegrahama.pl/2012/10/ile-spoek-najlepiej-miec-w-portfelu.html">Jak zarządzać kapitałem i wielkością pozycji w ujęciu Grahama?</a></li>
	
		
	</ul>
</p>
<p>Co ponadto? 
<ul>
<li><a href="http://blog.akcjegrahama.pl/2013/02/test-strategii-grahama.html">Test wyników stosowania strategii Grahama w polskich warunkach</a></li>
	<li><a href="http://blog.akcjegrahama.pl/2012/12/zyski-zyskom-nie-rowne-czyli-o-accrual.html">Jak sprawdzić czy raportowane przez spółkę zyski są naciągane?</a></li>
	<li><a href="http://blog.akcjegrahama.pl/2013/01/piotroski-f-score-rzadzi.html">Poznaj F-Score - wskaźnik ułatwiający ocenę czy spółka jest zdrowa</a></li>
<li>Jak uzyskać <a href="http://blog.akcjegrahama.pl/2013/02/dodatkowa-funkcjonalnosc-identyfikacja.html">listę spółek w upadłości układowej lub likwidacyjnej na GPW</a>.
</li>
<li>Zobacz <a href="http://www.money.pl/portfel/publiczne_informacje/portfel,informacje,259920.html">portfel inwestycyjny prowadzony według najprostszej strategii Grahama</a>. 
</li>
</ul>
	<br>
		
{% endblock %}

{% block podfb %}
<div style="padding-top: 2em;">
<script type="text/javascript"><!--
google_ad_client = "ca-pub-4272974969240812";
/* med_rect 300 */
google_ad_slot = "5370806579";
google_ad_width = 300;
google_ad_height = 250;
//-->
</script>
<script type="text/javascript"
src="//pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>
{% endblock %}

