{% extends "base.html" %}
{% block content %}

	
	<p>
	Gdyby chcieć wskazać jedną metodę inwestowania co do której Benjamin Graham zdawał się nigdy nie mieć wątpliwości, 
	to byłoby nią inwestowanie w grupę spółek (minimum 30 - <a href="http://blog.akcjegrahama.pl/2012/10/ile-spoek-najlepiej-miec-w-portfelu.html">zobacz dlaczego</a>), gdzie każda 
	ma kapitalizację giełdową (iloczyn kursu akcji i liczby akcji)  poniżej dwóch trzecich wartości aktywów bieżących netto.  
	W jednym ze swoich ostatnich wywiadów Graham określił ją nawet mianem "foolproof", czyli idiotoodpornej, niezawodnej 
	(więcej informacji <a href="http://blog.akcjegrahama.pl/2012/03/czy-w-oparciu-o-ksiazke-grahama.html">na blogu</a>).
	
	</p>
	<p>
	Poniższa tabelka pomaga znaleźć spółki notowane na GPW, dla których stosunek kapitalizacji do różnicy aktywów bieżących i zobowiązań (nazywany dalej "C/WK Grahama") jest poniżej 67%.
	Tabelkę należy traktować jako narzędzie wyłonienia wstępnej listy spółek na potrzeby dalszej, samodzielnej analizy.
	W tabelce są wyświetlane spółki o wartości wskaźnika C/WK Grahama mniejszej niż 1,5. Pomijane są spółki z sektora finansowego. 
	Aby zobaczyć listę spółek spełniających kryterium wystarczy kliknąć ikonę filtra: 
	<input class="filter" type='Button' value='' onclick='document.forms[0].reset();var ent = document.getElementsByName("ent");for(var i=0;i<ent.length;i++) {ent[i].selected = true;ent[i].parentNode.onchange()}'>). 
	Można ograniczyć listę do firm, które miały zysk za ostatnie cztery kwartały łącznie, ustawiając C/Z &gt;0.
	Pozostałe filtry są opcjonalne.
	</p>
{% endblock %}
{% block tabela %}
	
	<table class="main table-autosort:5 table-autostripe table-autofilter table-stripeclass:alternate table-filtered-rowcount:t1filtercount table-rowcount:t1allcount" >
	<colgroup>
	<col width="90">
	<col width="90" class="gr">
	<col width="55" class="gr">
	<col width="60">
	<col width="60">
	<col width="70">
	<col width="65">
	
	
	<col width="70">
	<col width="62">
	<col width="60">
	<col width="65">
	<col width="65">
	<col width="65">
	<col width="65">	
	
	</colgroup>
	<thead>
	<tr>
	<th colspan="14" class="hd2" align="right">
	<form action="#">
	<input class="filter" type='Button' value='' onclick='document.forms[0].reset();var ent = document.getElementsByName("ent");for(var i=0;i<ent.length;i++) {ent[i].selected = true;ent[i].parentNode.onchange()}'>
	<input class="reset" type='Button' value='' onclick='document.forms[0].reset();Table.filter(this,null);'>
	
	</th>
	</tr>
    <tr>
        <th class="filterable table-sortable:alphanumeric">Spółka</th>
        <th class="filterable table-sortable:alphanumeric">W indeksach</th>
        <th class="filterable table-sortable:alphanumeric" title="Ostatni raport">Ostat.<br>raport</th>
        <th class="filterable table-sortable:numeric" title="Kurs zamknięcia po ostatniej sesji">Kurs</th>
        
        <th class="filterable table-sortable:numeric" title="Stosunek ceny do średnich zysków na akcję z trzech ostatnich raportów rocznych">Śr. C/Z<br>z 3 lat</th>
        <th class="filterable table-sortable:numeric" >C/WK Grahama</th>
        <th class="filterable table-sortable:numeric" >C/Z</th>
        <th class="filterable table-sortable:numeric" >C/WK</th>
    	<th class="filterable table-sortable:numeric" >Bieżąca<br>dywi-<br>denda [%]</th>
        <th class="filterable table-sortable:alphanumeric" >Zyski<br>za ost.<br>x lat</th>
        <th class="filterable table-sortable:alphanumeric" >Wzrost<br>zysków</th>
        <th class="filterable table-sortable:numeric" >Current<br>ratio</th>
        <th class="filterable table-sortable:numeric" >Dług/<br>Kap.<br>obrotowy</th>
        <th class="filterable table-sortable:numeric" >Kap.Wł /<br>Aktywa</th>
        
    </tr>
	<tr>
              <th class="hd2"><input name="filter" size="5" onkeyup="this.value=this.value.toUpperCase();Table.filter(this,this)"></th>             
              <th class="hd2"><select onchange="Table.filter(this,this)" class="select-filter" style="width:8em;">
                  <option value="function(){return true;}" selected="selected">*</option>
                  
                  <option value="function(val){return ~val.indexOf('WIG20') || ~val.indexOf('mWIG40');}">WIG20/40</option>
                  <option value="function(val){return ~val.indexOf('WIG20') || ~val.indexOf('mWIG40') || ~val.indexOf('sWIG80') ;}">WIG20/40/80</option>
                  
			      <option value="function(){return true;}">----------</option>
                  
                  <option value="function(val){return ~val.indexOf('WIG20');}">WIG20</option>
                  <option value="function(val){return ~val.indexOf('WIG30');}">WIG30</option>
				  <option value="function(val){return ~val.indexOf('mWIG40');}">mWIG40</option>
				  <option value="function(val){return ~val.indexOf('sWIG80');}">sWIG80</option>
				  <option value="function(val){return ~val.indexOf('WIGdiv');}">WIGdiv</option>
				  <option value="function(val){return ~val.indexOf('WIG');}">WIG</option>
			
			<option value="function(val){return ~val.indexOf('WIG-Poland');}">WIG-Poland</option>
			<option value="function(val){return ~val.indexOf('WIG-Ukrain');}">WIG-Ukrain</option>
			<option value="function(val){return ~val.indexOf('WIG-BANKI');}">WIG-BANKI</option>
			<option value="function(val){return ~val.indexOf('WIG-BUDOW');}">WIG-BUDOW</option>
			<option value="function(val){return ~val.indexOf('WIG-CHEMIA');}">WIG-CHEMIA</option>
			<option value="function(val){return ~val.indexOf('WIG-DEWEL');}">WIG-DEWEL</option>
			<option value="function(val){return ~val.indexOf('WIG-ENERG');}">WIG-ENERG</option>
			<option value="function(val){return ~val.indexOf('WIG-INFO');}">WIG-INFO</option>
			<option value="function(val){return ~val.indexOf('WIG-MEDIA');}">WIG-MEDIA</option>
			<option value="function(val){return ~val.indexOf('WIG-PALIWA');}">WIG-PALIWA</option>
			<option value="function(val){return ~val.indexOf('WIG-SPOZYW');}">WIG-SPOZYW</option>
			<option value="function(val){return ~val.indexOf('WIG-SUROWC');}">WIG-SUROWC</option>
			<option value="function(val){return ~val.indexOf('WIG-TELKOM');}">WIG-TELKOM</option>
			<option value="function(val){return ~val.indexOf('RESPECT');}">RESPECT</option>
			<option value="function(val){return ~val.indexOf('InvestorMS');}">InvestorMS</option>
                  </select></th>
                                <th class="hd2">
                                					<select onchange="Table.filter(this,this)" class="select-filter">
                  <option value="function(){return true;}" selected="selected">*</option>
                  <option value="function(val){return val.substring(5, 7) == 'Q1';}">Q1</option>
                  <option value="function(val){return val.substring(5, 7) == 'Q2';}">Q2</option>
                  <option value="function(val){return val.substring(5, 7) == 'Q3';}">Q3</option>
                  <option value="function(val){return val.substring(5, 7) == 'Q4';}">Q4</option>
                  
                  </select>
                                
                                </th>
                                <th class="hd2"></th>
                                
              <th class="hd2"><select onchange="Table.filter(this,this)" class="select-filter">
                  <option value="function(){return true;}" selected="selected">*</option>
                  <option value="function(val){return parseFloat(val)<=9;}">&#8804; 9</option>
                  <option value="function(val){return parseFloat(val)<=7;}">&#8804; 7</option>
                  </select></th>
              <th class="hd2"><select onchange="Table.filter(this,this)" class="select-filter">
                  <option value="function(){return true;}" selected="selected">*</option>
                  <option name ="ent" value="function(val){return parseFloat(val)<=0.67;}">&le; &#8532;</option>
                  
                  </select></th>
              <th class="hd2"><select onchange="Table.filter(this,this)" class="select-filter">
                  <option value="function(){return true;}" selected="selected">*</option>
                  <option value="function(val){return parseFloat(val)>0;}">&gt; 0</option>
                  <option value="function(val){return parseFloat(val)<=7;}">&#8804; 7</option>
                  <option value="function(val){return parseFloat(val)<=7.5;}">&#8804; 7.5</option>
                  <option value="function(val){return parseFloat(val)<=8;}">&#8804; 8</option>
                  <option value="function(val){return parseFloat(val)<=8.5;}">&#8804; 8.5</option>
                  <option value="function(val){return parseFloat(val)<=9;}">&le; 9</option>
                  
                  </select></th>
              <th class="hd2"><select onchange="Table.filter(this,this)" class="select-filter">
                  <option value="function(){return true;}" selected="selected">*</option>
                  <option value="function(val){return parseFloat(val)<=0.67;}">&le; &#8532;</option>
                  <option value="function(val){return parseFloat(val)<=1;}">&le; 1</option>
                  
                  </select></th>
              

              <th class="hd2">
              <select onchange="Table.filter(this,this)" class="select-filter">
                  <option value="function(){return true;}" selected="selected">*</option>                  
                  <option value="function(val){return val!='';}">tak</option>                  
                  </select>
              </th>
              <th class="hd2">
                  <select onchange="Table.filter(this,this)" class="select-filter">
                  <option value="function(){return true;}" selected="selected">*</option>
                  <option value="function(val){return val.indexOf('+++++') == 0;}">5</option>
                  <option value="function(val){return val.indexOf('++++') == 0;}">4</option>
                  <option value="function(val){return val.indexOf('+++') == 0;}">3</option>
                  <option value="function(val){return val.indexOf('++') == 0;}">2</option>
                  <option value="function(val){return val.indexOf('+') == 0;}">1</option>
           
				  
                  
                  <!--<option value="function(val){return val=='';}">nie</option>-->
                  </select>
              </th>
              <th class="hd2">
                  <select onchange="Table.filter(this,this)" class="select-filter">
                  <option value="function(){return true;}" selected="selected">*</option>
                  <option value="function(val){return val=='tak';}">tak</option>
                  <!--<option value="function(val){return val=='';}">nie</option>-->
                  </select>
              </th>
              <th class="hd2">
                  <select onchange="Table.filter(this,this)" class="select-filter">
                  <option value="function(){return true;}" selected="selected">*</option>
                  <option value="function(val){return parseFloat(val)>=1.5;}">&ge; 1.5</option>
                  </select></th>
              <th class="hd2">
                  <select onchange="Table.filter(this,this)" class="select-filter">
                  <option value="function(){return true;}" selected="selected">*</option>
                  <option value="function(val){return parseFloat(val)<=1.1;}">&le; 1.1</option>
                  </select>
              
              </th>
              <th class="hd2">
              
				  <select onchange="Table.filter(this,this)" class="select-filter">
                  <option value="function(){return true;}" selected="selected">*</option>
                  <option value="function(val){return parseFloat(val)>=0.5;}">&ge; 0.5</option>
                  </select>
              
              </th>
              
              </tr>
              </form>
            </thead>
            <tfoot>
			<tr>
				<td colspan="14">Wybrane kryteria spełnia <span id="t1filtercount"></span>&nbsp;z <span id="t1allcount"></span>&nbsp;analizowanych spółek.</td>
			</tr>
			</tfoot>
        <tbody align = "right">
     {% if tabelka %}
	 {% autoescape off %}
	   {{ tabelka }}
	 {% endautoescape %}
	 {% else %}
	   <p>Brak aktualnych danych.</p>
	 {% endif %} 

		</tbody>

		
		</table>
		
		
{% endblock %}

