{% extends "base.html" %}

{%block noindex %}<meta name="robots" content="noindex">{% endblock %}

{% block reklamagoogle %}
<!-- nic -->
{% endblock %}
{% block reklamagoogle2 %}
<!-- nic -->
{% endblock %}

{% block content %}
<h1>Polityka Prywatności serwisu www.akcjegrahama.pl</h1>


<p>
Niniejsza Polityka Prywatności opisuje jakie dane dotyczące użytkowników 
serwisu www.akcjegrahama.pl są gromadzone i w jaki sposób przetwarzane.
</p>
<p> Politykę Prywatności należy rozpatrywać łącznie z aktualną treścią regulaminu serwisu. Regulamin ten jest 
dostępny pod nastepującym adresem internetowym: <a href="http://www.akcjegrahama.pl/t/regulamin">http://www.akcjegrahama.pl/t/regulamin</a>. 
</p>
<p>
Administratorem serwisu i gromadzonych danych jest portal akcjegrahama.pl nazywany Administratorem Danych
</p>
<p>
Korzystanie z serwisu jest równoznaczne z akceptacją przedstawionej poniżej Polityki Prywatności.
</p>
<h2>Przetwarzanie i ochrona danych osobowych</h2>
<p>
Administrator Danych przymuje Politykę Prywatności w trosce o bezpieczeństwo danych osobowych użytkowników serwisu. 
Dane osobowe użytkowników są chronione przez Administratora danych osobowych przed ich udostępnieniem osobom nieupoważnionym, 
a także przed innymi przypadkami ich ujawnienia, utraty oraz przed zniszczeniem lub nieuprawnioną modyfikacją. 
W tym celu stosowane są odpowiednie zabezpieczenia organizacyjne i techniczne (w tym programistyczne). 
</p>
<p>
Administrator Danych gwarantuje, iż zasady przyjęte w Polityce Prywatności zapewniają każdemu użytkownikowi serwisu 
realizację wynikających z ustawy z dnia 29 sierpnia 1997 r. o ochronie danych osobowych 
(t.j. Dz. U. 2002 r. Nr 101, poz. 926, z późn. zm.) uprawnień, 
w szczególności prawa wglądu do własnych danych, prawa żądania aktualizacji i usunięcia danych oraz prawa wniesienia sprzeciwu 
w przypadkach określonych w ustawie. 
Wykonanie tych uprawnień jest możliwe poprzez wysłanie emaila z opisem żądania do Administratora Danych 
na adres: admin@akcjegrahama.pl. Wiadomośc musi być wysłana z adresu email podanego podczas rejestracji w serwisie akcjegrahama.pl.
</p>

<p>
Administrator Danych, w związku z realizacją usług oferowanych przez serwis akcjegrahama.pl, 
gromadzi następujące dane o użytkownikach: nazwa użytkownika, adres email. Dane te użytkownik podaje dobrowolnie podczas rejestracji w serwisie. 
Przekazanie wyżej wymienionych danych jest niezbędne dla świadczenia usług w ramach serwisu akcjegrahama.pl.
Wszystkie dane przetwarzane przez Administratora Danych są zabezpieczone w zgodności z przepisami ustawy z dnia 29 sierpnia 1997 r. 
o ochronie danych osobowych. Administrator Danych nie wykorzystuje danych użytkowników w celu innym niż 
umożliwienie użytkownikowi prawidłowego dostępu do usług oferowanych przez serwis akcjegrahama.pl.

</p>
<p>
Administrator Serwisu zastrzega prawo wykorzystania adresu e-mail użytkownika w celach administracyjnych 
(np. powiadomienia o ważnych zmianach w serwisie) i w celu komunikacji związanej bezpośrednio ze świadczonymi przez serwis akcjegrahama.pl usługami.
</p>

<p>
Każdy użytkownik serwisu ma możliwość wyboru, czy i w jakim zakresie chce skorzystać
 z usług tego serwisu i czy udostępniać informacje o sobie. 
 Jeżeli z jakichś względów użytkownik nie życzy sobie pozostawienia swoich danych osobowych to ma 
 prawo do ich usunięcia lub zaprzestania korzystania z serwisu.
Korzystanie z serwisu jest możliwe bez zakładania konta użytkownika. 
Niektóre treści i usługi serwisu są dostępne tylko dla zalogowanych użytkowników, posiadających konto w serwisie.
</p>

<h2 id="cookies">Pliki cookies</h2>


<p>Podczas przeglądania naszego serwisu, stosownie do udzielonej zgody oraz konfiguracji przeglądarki, 
na komputerze użytkownika (urządzeniu końcowym) może zostać zapisany przez serwis akcjegrahama.pl lub 
firmę współpracującą jeden lub kilka plików cookie. 
Prosimy o zapoznanie się z poniższymi informacjami na temat plików cookie oraz sposobu ich wykorzystywania.</p>
<p>Ten serwis podobnie jak większość serwisów internetowych używa technologii "cookies". Cookies są to małe pliki, które są umieszczone na dysku twardym komputera podczas odwiedzania niektórych stron internetowych. Plik cookie to plik tekstowy, który przeglądarka internetowa zapisuje na komputerze lub na innym urządzeniu mobilnym, na którym przeglądasz stronę naszego Serwisu (tablet, telefon komórkowy). Z każdym kliknięciem na link w Serwisie lub wysłaniem formularza, plik cookie odsyłany jest do Serwisu.  Zawierają one informacje na temat komputera i zazwyczaj nie zawierają żadnych danych osobowych. Pliki te nie mogą być wykorzystane do infekowania urządzenia wirusami lub innym złośliwym oprogramowaniem (malware). 
Wystawcą części plików cookie jest Serwis akcjegrahama.pl.  
Istnieją też pliki cookie wystawiane przez zewnętrzy system statystyk wykorzystania Serwisu (np. Google Analytics) 
oraz pliki cookie wystawiane przez partnerów świadczących usługi reklamowe (np. Google AdSense).</p>
<p>Każdy indywidualny Cookie składa się z 4 podstawowych części:</p>
<ul>
<li>Nazwa strony WWW: nazwa domeny lub subdomeny, która ustawiła cookie,</li>
<li>Nazwa Cookie: cookie ma nazwę, która jest unikalna na stronie, która je ustawiła,</li>
<li>Termin ważności: Ważność niektórych plików cookie wygasa po zamknięciu przeglądarki (tzw. cookie sesji), inne cookie zostaną automatycznie usunięte dopiero po osiągnięciu daty ważności, która została ustawiona (tzw. trwałe cookies),</li>
<li>Wartość: to informacje w pliku cookie, którą strona WWW używa do &#8222;zapamiętania&#8221; poprzedniej wizyty.</li>
</ul>
<p>W plikach cookies przechowujemy podstawowe, anonimowe informacje o użytkownikach (np. identyfikator) oraz
 dane służące podniesieniu wygody korzystania z serwisu, potrzebne dla optymalizacji 
 i poprawnego wyświetlania treści zawartych na stronach oraz kampanii reklamowych.
  Informacje te służą do:</p>
<ul>
<li>Rozpoznawania użytkowników logujących się na chronionych stronach internetowych, 
co umożliwia im odwiedzanie wielu stron bez konieczności wpisywania nazwy użytkownika i
 hasła do każdej ze stron,</li>
<li>Rejestrowania preferencji użytkowników &#8211; przeglądanej zawartości i formatu 
przeglądania (użytkownik nie musi ustawiać preferencji przy każdej wizycie na stronie),</li>
<li>Rejestrowania stron
 odwiedzanych przez użytkowników, co pozwala zebrać dane pomocne dla usprawnień
  prezentowanych w treści i w sposobie nawigacji strony.</li>
</ul>
<p>Stosujemy następujące kategorie plików cookies na naszych stronach:</p>
<ul>
<li>Wewnętrzne– zakładane przez nasz serwis w celu jego prawidłowego funkcjonowania</li>
<li>Identyfikacyjne– zakładane przez nasz serwis w celu identyfikacji sesji i logowania użytkownika</li>
<li>Zewnętrzne– zakładane przez partnerów naszego serwisu takich jak Google 
służące m.in. analizowaniu ruchu na stronie, badaniu jego źródeł oraz akcji
 wykonywanych przez użytkowników, prowadzeniu kampanii reklamowych.</li>
</ul>
<p>Użytkownicy naszego serwisu mogą w dowolnej chwili
 zaprzestać dostarczania tych informacji naszemu serwisowi poprzez wykasowanie plików
  cookies zapisanych na ich urządzeniach końcowych przez nasz serwis. 
  Aby tego dokonać należy zmienić ustawienia aktualnie używanej przeglądarki internetowej.</p>
<ul>
<li>Informacje dla <a href="http://windows.microsoft.com/pl-pl/windows-vista/block-or-allow-cookies">Internet Explorer</a></li>
<li>Informacje dla <a href="http://support.mozilla.org/pl/kb/Okno%20opcji%20–%20panel%20Prywatność">Firefox</a></li>
<li>Informacje dla <a href="http://support.google.com/chrome/bin/answer.py?hl=pl&amp;hlrm=en&amp;answer=95647">Chrome</a></li>
<li>Informacje dla <a href="http://help.opera.com/Linux/9.22/pl/cookies.html">Opera</a></li>
<li>Informacje dla <a href="http://myapple.pl/content/94-jak-wyczyscic-cookies-w-przegladarce.html">Safari</a></li>
</ul>
<p>Możliwe jest również skonfigurowanie przeglądarki w sposób, 
który zablokuje instalację plików cookie dla określonych, 
wybranych przez użytkownika stron internetowych lub dla wszystkich stron. 
Ustawienia takie spowodują jednak utratę opisanych powyżej funkcjonalności, 
które wymagają instalacji plików cookie.
 Zgodnie z wymogami Prawa Telekomunikacyjnego za potwierdzenie zgody
  na wykorzystanie plików cookies uznaje się skonfigurowanie przeglądarki 
  pozwalające na instalację plików cookies na komputerze.
   Informacje na temat zastosowań i zarządzania plikami cookie można znaleźć
    na stronie (<a href="http://www.wszystkoociasteczkach.pl/">www.wszystkoociasteczkach.pl/</a>).</p>

<p>
Korzystanie z serwisu oznacza wyrażenie zgody na umieszczanie plików cookies w przeglądarce użytkownika przez serwis akcjegrahama.pl oraz przez parnertów serwisu (Google AdSense, Google Analytics, Facebook) 
oraz przyjęcie do wiadomości że są one niezbędne do prawidłowego funkcjonowania serwisu.
</p>
<h2>Postanowienia ogólne</h2>
<p>
Administrator danych zastrzega sobie prawo do aktualizacji i
 zmiany niniejszej polityki prywatności poprzez publikację nowej wersji na tej stronie. 
  W przypadku jakichkolwiek wątpliwości oraz dodatkowych pytań dotyczących ochrony prywatności, 
  prosimy o kontakt poprzez wysłanie wiadomości email na adres admin@akcjegrahama.pl. 
</p>
<p>Wersja  1.1, Grudzień 2015</p>

{% endblock %}