{% extends "base.html" %}

{%block noindex %}<meta name="robots" content="noindex">{% endblock %}

{% block reklamagoogle %}
<!-- nic -->
{% endblock %}
{% block reklamagoogle2 %}
<!-- nic -->
{% endblock %}

{% block content %}
<h1>Regulamin</h1>
						

<p>
Regulamin serwisu akcjegrahama.pl
</p>
<p>
Serwis akcjegrahama.pl umożliwia wyszukiwanie akcji w oparciu o wybrane kryteria wywodzące się z analizy fundamentalnej.
</p>

<h2>Definicje</h2>
<p>"Serwis" oznacza stronę WWW dostępną pod adresem www.akcjegrahama.pl</p>
<p>"Zarejestrowany Użytkownik" oznacza osobę, która utworzyła konto w Serwisie;</p>
{% if 0 %}
<p>“Abonent” oznacza Zarejestrowanego Użytkownika, który zamówił Abonament;</p>
<p>
“Abonament” zwany też Subskrypcją, oznacza płatną usługę dostępu do informacji i narzędzi wyszukiwania dostępną w ramach Serwisu w ustalonych ramach czasowych;
</p>
{% endif %}
<p>
"Administrator Serwisu" oznacza portal akcjegrahama.pl
</p>


<p>
Zawarte w niniejszym Regulaminie sformułowania "my" lub "nas" oznaczają Administratora Serwisu, zaś 
odniesienia w niniejszym Regulaminie do "ty" oznaczają osobę korzystającą z Serwisu lub będącą Zarejestrowanym Użytkownikiem.
</p>
<h2>Ograniczony dostęp</h2>
<p>
Określone części Serwisu są zastrzeżone i udostępniane tylko Zarejestrowanym Użytkownikom.
{% if 0 %},przy czym dostęp ten może zostać dodatkowo zawężony i zapewniony tylko Abonentom.
{% endif %}
Zastrzegamy sobie prawo ograniczenia dostępu do pozostałych stref Serwisu lub nawet całego Serwisu w dowolnym momencie, 
według naszego własnego uznania.
Nie wolno używać identyfikatora użytkownika i hasła innej osoby w celu uzyskania dostępu do zastrzeżonych stref Serwisu.
</p>
<h2>Zarejestrowani Użytkownicy {% if 0 %}i Abonenci{% endif %}</h2>
<p>
Aby zostać zarejestrowanym użytkownikiem, należy utworzyć konto za pomocą Serwisu
i kliknąć na link aktywacyjny w mailu, który wyślemy do Ciebie. 
Zarejestrowani Użytkownicy uzyskują dostęp do dodatkowych usług i ograniczonych obszarów na stronie, 
które mogą obejmować: <br>
(a) dodatkowe strategie i filtry wyszukiwania<br>
{% if 0 %}
(b) tylko w przypadku Abonentów - dostęp do usług objętych Abonamentem.<br>
{% endif %}
<br>

Zarejestrowani użytkownicy nie mogą pozwolić żadnej innej osobie na korzystanie 
z ich identyfikatora użytkownika i hasła, i muszą przechowywać swój identyfikator użytkownika i hasło w taki sposób, żeby nie miały do nich dostępu inne osoby. 
<br>Zarejestrowani Użytkownicy biorą odpowiedzialność za wszystkie czynności 
wykonywane pod, lub związane z ich identyfikatorem użytkownika i hasłem. 
{% if false %}
Na naszą prośbę, Zarejestrowany Użytkownik i zapewni nam dowód swojej tożsamości i / lub wiek.
Może być również wymagane przez ustawy lub rozporządzenia do identyfikacji 
zalogowanych użytkowników i ujawnienia swoich danych osobom trzecim, 
w tym właściwego organu sądowego lub wykonawczego, jeżeli są wymagane przez nich, aby to zrobić.
{% endif %}
Możemy zmieniać lub ograniczać zakres usług i obszarów do których mają dostęp Zarejestrowani Użytkownicy 
i / lub usunąć konto dowolnego Zarejestrowanego Użytkownika, według naszego własnego uznania, 
bez uprzedzenia i wyjaśnienia.
</p>

{% if false %}
<h2>Treści utworzone przez użytkowników</h2>
Użytkownik udziela nam przez cały okres praw autorskich 

<h2>Treści zewnętrzne</h2>

Nie zobowiązujemy się do monitorowania zawartości zewnętrznej, która może pojawić się na stronie. 
Nie gwarantujemy również, że dostawcy treści stron zewnętrznych będą przestrzegać niniejszego Regulaminu, 
chociaż wszelkich starań, aby usunąć Third Party Content która narusza te warunki po to została 
doprowadzona do naszej uwagi. Jeśli dowiesz się o Treści Osób Trzecich na stronie internetowej, 
która narusza te warunki, należy niezwłocznie powiadomić nas o tej treści.
{% endif %}

<!------------------------------------------------------------------------------------------------>
<h2>Nasze gwarancje</h2>

<p>Użytkownik przyjmuje do wiadomości, że niniejsza strona internetowa, a także materiał na tej stronie mogą od czasu do czasu ulec zmianie bez uprzedzenia. Jako że zawartość serwisu jest udostępniana jako bezpłatna usługa dla wszystkich naszych użytkowników, nie oferujemy żadnych gwarancji w związku z przygotowaniem i publikacją tej zawartości. Tam jednak, gdzie informacje i dane dostarczane są w ramach płatnej usługi subskrypcji, gwarantujemy (w rozsądnym zakresie) dołożenie starań zmierzających do zapewnienia prawidłowości udostępnianych danych i należytej staranności w zakresie świadczenia usługi. Jeśli zostaniemy powiadomieni o możliwości błędu w stosunku do danych zawartych w serwisie Akcjegrahama, będziemy starać się doprowadzić do poprawienia zidentyfikowanego błędu, aczkolwiek nie możemy zagwarantować tego w każdym przypadku.
</p>
<p>Niezależnie od powyższych gwarancji, serwis Akcjegrahama nie jest upoważniony do udzielania porad inwestycyjnych i nic co jest zawarte na jego stronach internetowych nie powinno być interpretowane jako próba udzielania takich porad. Witryna Akcjegrahama i jej zawartość, w tym dane spółek, oraz Treści Użytkownika (np. komentarze na blogu) udostępniane są w postaci „jak są” bez żadnej gwarancji  i mogą zawierać błędy lub nieścisłości. Należy uzyskać potwierdzenie jakichkolwiek informacji na stronie internetowej z autorytatywnego źródła osób trzecich, na których chcesz polegać. Korzystanie z treści i danych serwisu Akcjegrahama, a także Treści Użytkownika jest wyłącznie na ryzyko Użytkownika.
</p>



{% if 0 %}
<h2>Okres Próbny</h2>
<p>
Usługi objęte Abonamentem nie są udostępniane na okres próbny. Administrator Serwisu zastrzega sobie możliwość wprowadzenia okresu próbnego w przyszłości. 
</p>

<h2>Opłaty</h2>
<p>
Abonent, w zamian za świadczenie usług objętych Abonamentem, zgadza się uiszczać opłaty wyszczególnione w cenniku opublikowanym w Serwisie. 
Bez uszczerbku dla swoich praw do odzyskania kwot zaległych, należnych od Abonenta, gdyby Administrator Serwisu nie był w stanie 
podjąć jakiejkolwiek części opłat należnych od Abonenta, za pośrednictem metody płatności wskazanej przez Abonenta, 
akcjegrahama,pl zastrzega sobie prawo do:
<ol>
<li>zawieszenia dostępu do usług objętych Abonamentem; lub</li>
<li>rozwiązania niniejszej umowy dostępu do usług objętych Abonamentem.</li>
</ol>


</p>


<h2>Zwrot / Rezygnacja / odstąpienie od umowy</h2>
<p>
Każda ze stron może wypowiedzieć niniejszą umowę Abonamentu, 
co w przypadku Abonenta może być wykonane w Serwisie poprzez anulowanie subskrypcji. 
Jeśli Abonent wypowie umowę Subskrypcji, 
Abonent ma uiścić na rzecz akcjegrahama.pl wszystkie opłaty należne do daty zakończenia (w tym wszelkie należne odsetki).
Abonent będzie uprawniony do korzystania z usługi do końca okresu rozliczeniowego. Abonent nie ma prawa do zwrotu opłat, 
które już wpłacił na rzecz akcjegrahama.pl.
</p>

<p>
W szczególnym przypadku, na podstawie art.7 ust.1 Ustawy z dnia 2 marca 2000r. o ochronie niektórych praw konsumentów 
oraz o odpowiedzialności za szkodę wyrządzoną przez produkt niebezpieczny (Dz.U.2000 nr 22 poz.271 z późn.zm.) 

Abonent, który zawarł z Administratorem Serwisu umowę na odległość, 
ma prawo do odstąpienia od tej umowy bez podania przyczyny składając stosowne oświadczenie na piśmie – w terminie 10 (dziesięciu) dni. 
Do zachowania tego terminu wystarczy wysłanie oświadczenia woli przed jego upływem. 
Termin dziesięciodniowy, w którym Abonent może odstąpić od umowy, 
liczy się gdy umowa dotyczy świadczenia usługi – od dnia jej zawarcia.
</p>
<p>
Prawo odstąpienia dotyczy sprzedaży konsumenckiej, to jest stosuje się wyłącznie do sprzedaży osobie fizycznej, 
która dokonuje zakupu w celu niezwiązanym z działalnością zawodową lub gospodarczą. 
</p>
<p>Na podstawie art.10 ust.3 pkt 4 Ustawy z dnia 2 marca 2000r. 
o ochronie niektórych praw konsumentów oraz o odpowiedzialności za szkodę wyrządzoną przez produkt niebezpieczny 
(Dz.U.2000 nr 22 poz.271 z późn.zm.) jeżeli Administrator Serwisu i Abonent nie umówili się inaczej, 
prawo do zwrotu nie obejmuje świadczeń o właściwościach określonych przez konsumenta 
w złożonym przez niego zamówieniu lub ściśle związanych z jego osobą oraz świadczenia usług rozpoczętego, 
za zgodą konsumenta, przed upływem wyżej wspomnianego terminu.
</p>
<p>
W przypadku skorzystania z prawa do odstąpienia, pisemne oświadczenie Abonent powinien odesłać na własny koszt na adres podany w pkt 19. Regulaminu.
W treści oświadczenia musi być dołączony numer konta do zwrotu zapłaty. 
Skany dokumentów potwierdzających odstąpienie mogą zostać również przesłane na adres e-mail: admin@akcjegrahama.pl.

</p>
<p>
W ciągu trzech dni roboczych od otrzymania zwrotu, Administrator Serwisu dokona oceny sytuacji. 
Jeżeli żądanie zwrotu spełnia wymagania ustawy, w ciągu siedmiu dni roboczych, Administrator Serwisu dokona zwrotu zapłaty kwoty 
wpłaconej w ramach realizacji zamówienia, na wskazane przez Abonenta konto bankowe.
W razie skutecznego odstąpienia od umowy jest ona uważana za niezawartą, 
a Abonent jest zwolniony z wszelkich zobowiązań. 
</p>
<p>
Jakiekolwiek kwestie dotyczące płatności będą prowadzone przez e-mail (admin@akcjegrahama.pl).
</p>
{% endif %}

<h2>Wersja beta</h2>
<p>
Wszystkie usługi i funkcjonalności Serwisu objęte abonamentem pozostają w wersji "beta", dopóki nie wskażemy jednoznacznie, że jest inaczej. 
Od czasu do czasu, możemy zaoferować Ci dostęp do niektórych nowych funkcji serwisu jako "użytkownikowi beta". 
Jeśli używasz funkcjonalności w wersji "beta", przyjmujesz do wiadomości, że te funkcjonalności mogły jeszcze nie zostać w pełni przetestowane 
i dlatego mogą zawierać istotne błędy i problemy. Zobowiązujesz się do powiadomienia akcjegrahama.pl o wszystkich błędach na jakie się natknąłeś, 
gdy tylko to możliwe. Akceptujesz również, że dostęp do tych funkcji może zostać wycofany w dowolnym czasie, bez uprzedzenia, 
jeśli zdecydowaliśmy się, że te cechy mają stanowić część oddzielnej oferty abonamentowej.
</p>

<h2>Ogólne</h2>
<p>
Jeżeli którekolwiek z postanowień niniejszego Regulaminu zostanie uznane za nieważne lub niewykonalne przez sąd właściwej jurysdykcji, 
pozostałe postanowienia niniejszego Regulaminu pozostają w pełnej mocy, a wszelkie takie nieważne lub niewykonalne postanowienia zostaną uznane za pominięte. 
Ten Regulamin został opracowany dla korzyści naszej i naszych użytkowników i nie jest przeznaczony dla jakiejkolwiek innej osoby. 
Wszelkie wypowiedzenia, unieważnienia, zmiany, uchylenia lub rozliczenia dokonane na podstawie niniejszego Regulaminu nie będą uzależnione od zgody osoby trzeciej.
</p>
{% if false %}
Treści Użytkownika zamieszczone na stronie internetowej mogą być przechowywane przez nas zarówno on-line, lub w archiwum przez okres dziesięciu lat. 
{% endif %}   
Możemy zmienić zapisy Regulaminu w dowolnym momencie poprzez umieszczenie nowej wersji Regulaminu w Serwisie. 


Jeżeli jesteś Zarejestrowanym Użytkownikiem lub Abonentem, możemy Cię poinformować o zmianach w Regulaminie. 
Dalsze korzystanie z Serwisu po zmianach będzie stanowić akceptację tych zmian.
</p>
<p>
Regulamin ten stanowi całość umowy między użytkownikiem a nami w odniesieniu do korzystania z Serwisu i 
zastępuje wszystkie poprzednie porozumienia w odniesieniu do korzystania z Serwisu. 
Regulamin ten podlega pod polskie prawo i polskie sądy mają wyłączną jurysdykcję do rozstrzygania wszelkich sporów wynikających z 
lub odnoszących się do tego Regulaminu.</P>

<h2>Informacja</h2>
<p>
Jeśli chcesz się z nami skontaktować, napisz do nas za pośrednictwem admin@akcjegrahama.pl.

Należy wydrukować kopię niniejszego Regulaminu. Nie zarchiwizujemy Twojej kopii niniejszego Regulaminu, stąd niniejsza wersja 
może nie być ona dostępna w Serwisie w przyszłości. Regulamin jest dostępny tylko w języku polskim.
</p>
<p>Wersja  1.2, Maj 2018</p>
{% endblock %}