{% extends "base.html" %}

{% block content %}
<br><br>
<div class="login-card">
<h1>Zmiana hasła</h1>

<script type="text/javascript">
function validateForm() {
    var password = document.forms["reset"]["password"].value;
    var confirm_password = document.forms["reset"]["confirm_password"].value;
  	
	if (password == null || password == "" || password.length<6 ) {
		document.forms["reset"]["password"].focus() ;
		document.getElementById("errorBox").innerHTML = "Hasło musi składać się z minimum 6 znaków!"; 
	    return false;
	}
	if (password != confirm_password) {
		document.forms["reset"]["password"].focus() ;
		document.getElementById("errorBox").innerHTML = "Podane hasła różnią się"; 
	    return false;
	}

  
  	return true;
}
</script>
<form onsubmit="return validateForm()" name="reset" action="/password" method="post">
    <div id="errorBox"></div>
	<input type="password" name="password" placeholder="Wpisz nowe hasło"/>
	<input type="password" name="confirm_password" placeholder="Wpisz jeszcze raz"/>
	<input type="hidden" name="t" value="{{ token }}" />
    <input type="submit" class="login login-submit" value="Zmiana hasła" />
</form>
</div>


{% endblock %}
