{% extends "base.html" %}

{% block reklamagoogle %}
<!-- nic -->
{% endblock %}
{% block reklamagoogle2 %}
<!-- nic -->
{% endblock %}

{% block content %}
<h1>Zastrzeżenia i wykluczenie odpowiedzialności</h1>
						

			<p>Przed rozpoczęciem korzystania z tej strony, proszę upewnij się, że zwróciłeś/zwróciłaś uwagę na następujące ważne informacje:</p>

<h2>Wykonuj swoje własne analizy</h2>

<p>
Zawartość serwisu akcjegrahama.pl jest przeznaczona do użycia wyłącznie w celach informacyjnych. 
Bardzo ważne jest, aby przed dokonaniem jakiejkolwiek inwestycji, przeprowadzić własne analizy, w oparciu o własne zasady i przekonania 
oraz z uwzględnieniem osobistych okoliczności życiowych. 
Powinieneś/powinnaś zasięgnąć niezależnej porady finansowej (najlepiej u zawodowca) lub dokonać niezależnej analizy i weryfikacji 
w odniesieniu do wszelkich informacji, które można znaleźć na naszej stronie internetowej i chciałbyś/chciałabyś użyć - 
czy to na potrzeby podjęcia decyzji inwestycyjnej czy do innych celów.
</p>

<h2>Nie udzielamy porad inwestycyjnych</h2>

<p>Nasza strona internetowa jest portalem agregującym i udostępniającym wiadomości i dane finansowe. 
Serwis akcjegrahama.pl nie jest biurem maklerskim ani żadnego rodzaju instytucją finansową, 
nie posiadamy dostępu do niejawnych informacji o spółkach publicznych notowanych na giełdzie i nie jest to miejsce na udzielanie lub otrzymywanie porad dotyczących decyzji inwestycyjnych, podatkowych ani prawnych.
Nie podlegamy regulacji ani nadzorowi Komisji Nadzoru Finansowego.</p>

<p>Jesteśmy forum edukacyjnym pozwalającym poznawać, analizować i omawiać ogólne/generyczne informacje dotyczące akcji spółek notowanych na giełdzie, inwestowania jako dziedziny zainteresowań i strategii.
Żadna treść w ramach niniejszego portalu nie stanowi - ani nie powinna być tak odbierana - 
rekomendacji do zawierania transakcji w odniesieniu do jakichkolwiek papierów wartościowych ani do angażowania się w realizację jakichkolwiek strategii inwestycyjnych prezentowanych w treści serwisu.
W żadnym wypadku nie dostarczamy spersonalizowanych rekomendacji ani nawet nie wyrażamy poglądów odnośnie tego, czy określone podejście do inwestowania w akcje czy inne papiery wartościowe jest właściwie dostosowane do potrzeb finansowych danej osoby.

W szczególności, wszelkie informacje przedstawione w ramach serwisu "Akcje Grahama" są prywatnymi opiniami ich autorów i nie stanowią rekomendacji inwestycyjnych w rozumieniu Rozporządzenia Ministra Finansów z dnia 19 października 2005 roku w sprawie informacji stanowiących rekomendacje dotyczące instrumentów finansowych, ich emitentów lub wystawców (Dz. U. z 2005 roku, Nr 206, poz. 1715).    
</p>

<h2>Dostarczamy narzędzi, ale nie prowadzimy za rękę</h2>
<p>Narzędzie to dopiero początek. Tam gdzie udostępniamy filtry i kryteria inwestycyjne, ich wyniki powinny być traktowane jedynie jako kandydaci do dalszych analiz i rozważań, a nie jako lista akcji do kupienia czy jako rekomendacja/zbiór rekomendacji.
Odfiltrowanie listy spółek z wykorzystaniem wybranych lub predefiniowanych kryteriów może pomóc zawęzić zakres poszukiwań, ale w żadnym wypadku nie zastąpi niezależnej analizy, odzwierciedlającej Twoje indywidualne preferencje i kryteria w odniesieniu do inwestowania/handlu na giełdzie.</p> 

<p>Jeśli gdziekolwiek oferujemy narzędzia wyceny, mogą one być wykorzystywane wyłącznie w celach informacyjnych i edukacyjnych, po to, żeby ułatwić użytkownikom przeprowadzenie własnych obliczeń.
Predefiniowane wartości stanowią tylko punkt wyjścia, oparty o generalne założenia które są zastosowane w odniesieniu do całego rynku. Użytkownik powinien zmodyfikować je i sprawdzić kiedy dobrze pasują, a nie traktować jako zastępstwo własnej kalkulacji.
Jakiekolwiek wyniki obliczeń są siłą rzeczy generyczne i nie zalecane ani potwierdzane przez akcjegrahama.pl jako obowiązujące dla danej spółki.</p>
<!--
<p>Dochowujemy wszelkich starań by dane udostępniane w serwisie były aktualne i prawidłowe. Nie możemy zagwarantować iż wszystkie dane pozbawione są błędów. 
Zidentyfikowane i/lub zgłoszone przez użytkownika serwisu błędy w danych weryfikujemy i usuwamy tak szybko jak to możliwe.</p>
-->

<h2>Treści utworzone przez użytkowników</h2>

<p>Część zawartości tego portalu (jak np. komentarze na blogu) stanowi treść utworzoną przez jego zarejestrowanych i niezarejestrowanych użytkowników, przez co nie jest możliwe jej w pełni efektywne monitorowanie.
Za wyjątkiem treści wytworzonych i udostępnionych przez akcjegrahama.pl, wszystkie informacje na naszej stronie dotyczące biznesu, spółek, strategii inwestycyjnych i okazji inwestycyjnych jest dostarczana przez użytkowników i strony trzecie.
Działamy jedynie w roli pośrednika w publikowaniu tych treści na naszej stronie 
i nie wybieramy, nie monitorujemy, nie edytujemy, nie przeglądamy, ani w żaden inny sposób nie nadzorujemy tych informacji.
</p>

<h2>Wykluczenie odpowiedzialności</h2>

<p>Odpowiednio, nie ponosimy żadnej odpowiedzialności w odniesieniu do jakichkolwiek szkód, wydatków czy jakiejkolwiek innej straty
która może powstać z przyczyny takich informacji czy jakiegokolwiek polegania przez Ciebie na takich informacjach.
Jakiekolwiek ustalenia między Tobą a stroną trzecią dokonane za pośrednictwem serwisu przeprowadzasz na swoje własne ryzyko.</p>

<h2>Ostrzeżenia dotyczące inwestowania</h2>

<p>Chcemy zwrócić Twoją uwagę na następujące istotne ostrzeżenia dotyczące inwestowania:</p>

<ul>
<li>Wartość akcji i inwestycji oraz wielkość uzyskiwanego z nich wyniku finansowego może być zarówno rosnąć jak i spadać;</li>
<li>Inwestorzy mogą nie odzyskać kwoty którą zainwestowali - istnieje również realne ryzyko utraty całej zainwestowanej kwoty;</li>
<li>Nie da się nic pewnego powiedzieć o stopach zwrotu możliwych do osiągnięcia w przyszłości na podstawie osiągniętych w przeszłości stóp zwrotu;</li>


{% endblock %}